# macOS
.DS_Store

# Android
android/build/
android/.gradle/
android/app/build/
*.keystore
*.hprof

# iOS
ios/build/
ios/Pods/
DerivedData/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env

# Metro
.metro-health-check*

# Coverage
coverage/

# IDE
.idea/
.vscode/

# Misc
*.log